{% component post_in_list(post) %}
<li>
  <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
  <time style="font-size:90%;" datetime="{{ post.date | date(format="%Y-%m-%dT%H:%M:%S%:z") }}">{{ post.date | date(format="%B %d, %Y") }}</time>
  {% if post.taxonomies.tags %}
    <span class="post-tags">
      {% for tag in post.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind="tags", term=tag) | safe }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </span>
  {% endif %}
</li>
{% endcomponent post_in_list %}

{% component recent_post_full(post) %}
<article>
  <h2>
    <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
    {% if post.extra.link %}
      <a href="{{ post.extra.link | safe }}" target="_blank" rel="noopener noreferrer">→</a>
    {% endif %}
  </h2>

  {% if post.date %}
    <time datetime="{{ post.date | date(format="%Y-%m-%dT%H:%M:%S%:z") }}">{{ post.date | date(format="%B %d, %Y") }}</time>
  {% endif %}

  {% if post.taxonomies.tags %}
    <span class="post-tags">
      {% for tag in post.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind="tags", term=tag) | safe }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </span>
  {% endif %}

  {% if post.extra.summary %}
    {{ post.extra.summary | safe }}
    <a href="{{ post.permalink | safe }}">Read more →</a>
  {% else %}
    {{ post.content | safe }}
  {% endif %}
</article>
{% endcomponent recent_post_full %}
